body {
    display: table-cell;
    vertical-align: middle;
}

html, body {
    height: 100%;
    font-family: 'Lato', serif;
    text-align: center;
    background-color: #49476e;
    color: #3bc0c7;
}

html {
    display: table;
    margin: auto;
}

.otherlinks {
    vertical-align: text-bottom;
    font-size: 36px;
}

a {
    color:#d76995;
    text-decoration: none;
}

a:hover {
    color:#3D84A8;
}

.rcorners {
    border-radius: 75px;
}

#name {
    font-size: 72px;
    line-height: 0;
    margin: 0;
    padding-top: 50px;
}

.header {
    font-size: 36px;
}

ul.img-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

ul.img-list li {
    display: inline-block;
    height: 256px;
    margin: 0 1em 1em 0;
    position: relative;
    width: 256px;
}

span.text-content span {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

ul.img-list li:hover span.text-content {
    opacity: 1;
}

span.text-content {
    background: rgba(0,0,0,0.5);
    color: #ABEDD8;
    cursor: pointer;
    display: table;
    height: 256px;
    left: 0;
    position: absolute;
    top: 0;
    width: 256px;
    opacity: 0;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    transition: opacity 500ms;
}

.mobileShow { display: none; font-size: 24px;}
/* Smartphone Portrait and Landscape */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px){ .mobileShow { display: inline;}}